:root {
  --dark: rgb(44 44 44);
  /* --primary: rgb(35, 186, 224); */
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortenIcon {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 5px;

  background: none;
  border: none;

  fill: var(--dark);

  cursor: pointer;

  /* Position */
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.searchBarWrapper {
  position: relative;
}

input[type='text'] {
  width: 280px;
  padding: 8px 6px;
  box-sizing: border-box;
}
