<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/404.css') }}"
    />

    <title>404 Error</title>
  </head>
  <body>
    <section class="wrapper">
      <h1 class="title-404">404</h1>
      <h3 class="subtitle-404">Not Found</h3>
      <p class="p-404">Page count not be found on the server!</p>
    </section>
  </body>
</html>
