<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/display_link.css') }}"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: "YourCustomFont";
        src: url("{{ url_for('static', filename='fonts/Sunny Spells.ttf') }}")
          format("truetype");
      }
      .cool-font {
        font-family: "Sunny Spells", sans-serif;
        font-weight: 100;
      }
    </style>

    <title>Shortened LINK</title>
  </head>
  <body>
    <div class="hero-background">
      <div class="hero-title">
        <h1 class="title cool-font">Lil Link</h1>
        <h3>Here's Your Link</h3>
      </div>
      <img
        class="bg"
        src="{{ url_for('static', filename='images/Hero.svg') }}"
      />
    </div>

    <div class="short-link-display-wrapper">
      <div id="link" class="short-link cool-font">{{ shortened_url }}</div>
      <img
        id="copyBtn"
        title="Copy To Clipboard"
        class="copy-icon"
        src="{{ url_for('static', filename='images/copy_icon.svg') }}"
      />
    </div>

    <div>Long URL: {{ original_url }}</div>
    <a href="/" class="btn-primary cool-font">
      <div>Back Home</div>
    </a>
  </body>

  <script
    defer
    src="{{ url_for('static',filename='js/copyToClipboard.js')}}"
  ></script>
</html>
