<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/fav.svg') }}" type="image/svg+xml" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />

    <style>
      @font-face {
        font-family: "Sunny Spells";
        src: url("{{ url_for('static', filename='fonts/Sunny Spells.ttf') }}") format("truetype");
        font-display: swap;
      }
      .cool-font {
        font-family: "Sunny Spells", sans-serif;
        font-weight: 100;
      }
    </style>

    <title>Lil Link</title>
  </head>
  <body>
    <dialog id="modal" autofocus>
      <div class="modal-wrapper">
        <div class="dialog-highlight"></div>
        <div class="modal-content">
          <div class="modal-title-wrapper">
            <img class="modal-icon" draggable="false" alt="Error" src="{{ url_for('static', filename='images/error.svg') }}" />
            <div id="modal-title">Action Failed</div>
          </div>
          <div id="modal-body">URL needs to have http:// or https://</div>
          <div id="modal-btn">Close</div>
        </div>
      </div>
    </dialog>

    <div class="hero-background">
      <div class="hero-title">
        <h1 class="title cool-font">Lil Link</h1>
        <h3>Shorten your URL's</h3>
      </div>
      <img draggable="false" alt="Hero Background" class="bg" src="{{ url_for('static', filename='images/hero_bg.svg') }}" />
    </div>

    <form id="searchForm">
      <div class="searchInputWrapper">
        <input id="search" name="url" type="text" placeholder="www.YourLongURL.com" autocomplete="off" />
        <button class="searchBtn" type="submit">
          <div class="cool-font">Shorten</div>
        </button>
      </div>
    </form>

    <div class="info-section">
      <!-- Info 1 -->
      <div class="info-wrapper">
        <img draggable="false" class="info-icon" title="Copy To Clipboard" alt="Shorten Icon" src="{{ url_for('static', filename='images/little_icon.svg') }}" />
        <div class="info-title cool-font">Shorten Your Links</div>
        <div class="info-body">Our link shortening service simplifies the way you share web links. Say goodbye to long, cumbersome URLs and hello to concise, easy-to-share links.</div>
      </div>

      <!-- Info 2 -->
      <div class="info-wrapper">
        <img draggable="false" class="info-icon" title="Copy To Clipboard" alt="QR Code Icon" src="{{ url_for('static', filename='images/qr_icon.svg') }}" />
        <div class="info-title cool-font">Generate QR Codes</div>
        <div class="info-body">
          Unlock the power of QR codes with our user-friendly generator. Easily convert your URLs into scannable QR codes, perfect for adding to posters, business cards, and digital displays.
        </div>
      </div>
    </div>

    <footer>
      <p style="margin: 7px 0">&copy; Evan O'Rourke</p>
      <a href="https://evanorourke.com/" class="footer-icon" target="_blank"
        ><img draggable="false" title="Portfolio" alt="portfolio icon" src="{{ url_for('static', filename='images/portfolio.svg') }}"
      /></a>
      <a href="https://www.linkedin.com/in/evan-orourke/" class="footer-icon" style="width: 24px" target="_blank"
        ><img draggable="false" title="Linkedin" alt="linkedin icon" src="{{ url_for('static', filename='images/linkedin.svg') }}"
      /></a>
      <a href="https://github.com/Evan-OR" class="footer-icon" target="_blank"
        ><img draggable="false" title="Github" alt="github icon" src="{{ url_for('static', filename='images/github.svg') }}"
      /></a>
    </footer>
  </body>

  <script defer src="{{ url_for('static',filename='js/formHandler.js')}}"></script>
</html>
