.short-link-display-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  margin-top: 40px;

  border: 2px var(--primary) dashed;
  border-radius: 4px;
}

.short-link {
  color: var(--grey-font);
  font-size: 1.6rem;
}
.copy-icon {
  width: 30px;
  margin-left: 20px;
  color: var(--primary);
}
.copy-icon:hover {
  cursor: pointer;
}

.original-url {
  margin: 5px 0;
}

.qr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 15px 15px 15px;
  width: 300px;
}
.qr {
  image-rendering: pixelated;
  width: 100%;
}
.qr-text {
  margin-top: 5px;
  color: white;
  font-size: 4rem;
}

.btn-margin {
  margin: 15px;
}
