:root {
  --primary: #ffa6a6;
  --primary-dark: #ff9191;

  --grey-font: #535353;

  --max-width: 1000px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(30, 30, 30);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.btn-primary {
  display: block;
  background-color: var(--primary);

  color: white;
  font-size: 1.4rem;
  text-decoration: none;

  padding: 5px 8px;
  margin: 5px;
  border-radius: 3px;
}
.btn-primary:hover {
  cursor: pointer;
}
